<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
  </head>
  <body>

   <% for (var m in contentsArray) { %>
    <h2> Name: <%=m%></h2>
    <h2> Message: <%=contentsArray[m]%></h2>
    <hr>
   <% } %>
  </body>
</html>
