<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Message Board</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="main">
        <form id="form" action="/add" method="POST">
            <div id="container">
                <h3>Name</h3>
                <input type="text" name="username">
                <h3>Message</h3>
                <textarea name="usermessage" rows="10" cols="50" placeholder="Please enter your message here!"></textarea>
                <br>
                <button>Submit</button>
            </div>
        </form>
        <% if(contentsArray!=undefined){ %>
            <% for (var m in contentsArray) { %>
                <div class="messagePad"> Name:
                    <%=m%>
                        <br> Message:
                        <%=contentsArray[m]%>
                </div>
    </div>
    <hr>
    <% } %>
        <% } %>
            </div>
</body>

</html>